/* @import "tailwindcss"; */
@tailwind utilities;
@tailwind components;
@tailwind base;

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0a0f33;
  color: #ffffff;
}

/* Glassmorphism utility */
.glass {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(2px);
  border-radius: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}